{% extends '::base.html.twig' %}

{% block body -%}
    <br>
    <h1>Er is een onverwachte fout opgetreden</h1>
    <p><strong>Voor de systeembeheerder: </strong></p>
    <p>{{ status_text }}</p>
{% endblock %}