<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="initial-scale=1">
        <title>{% block title %}De Goede Woning (Adviesrapport mutatieproces){% endblock %}</title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		{% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' %}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
		{% endstylesheets %}
		
		{% javascripts '../app/Resources/public/js/*' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

        {% block head %}{% endblock %}
    </head>
    <body>
		<div id="loader"></div>
        <div id="content">
		
            <div class="sf-reset">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
