parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    civicoop.insiteauthenticator.url: http://insitetest2/rest
    civicoop.insiteauthenticator.hostname: 'insite'
    civicoop.civicrm.url: http://insitetest2
    civicoop.civicrm.api_key: testomgeving
    civicoop.civicrm.site_key: 0123456789abcdef
    civicoop.civicrm.path: sites/all/modules/civicrm/extern/rest.php
    testuser: ~
    testpass: ~
