{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nieuwe ruimte</h1>

    <form action="{{ path('ruimtes_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="success">Opslaan</button><a href="{{ path('ruimtes') }}" class="button cancel">Terug naar het overzicht</a>
        </p>
    </form>

{% endblock %}
