{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Openstaande rapporten</h1>
    {% include 'CiviCoopVragenboomBundle:AdviesRapport:report_list.html.twig' with ({ 'show_report_link': 'adviesrapport_show', 'close_report_link': 'adviesrapport_close', 'entities': entities, 'factory': factory }) %}

    
    {% endblock %}
