{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="title">{% trans %}Login{% endtrans %}</h1>

    <p>
	Later wordt dit de Insite gebruikersnaam en wachtwoord.
    </p>

    {% if error %}
        <div class="error">{{ error.message|trans() }}</div>
    {% endif %}

    <form action="{{ path("civicoop_vragenboom_login_check") }}" method="post" id="login">
        <div class="form_row">
            <label for="username">{% trans %}Username{% endtrans %}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="text" />
        </div>

        <div class="form_row">
            <label for="password">{% trans %}Password{% endtrans %}</label>
            <input type="password" id="password" name="_password" class="text" />
        </div>
		
		<div class="form_row">
			<input type="checkbox" id="remember_me" name="_remember_me" checked class="checkbox" />
			<label for="remember_me">{% trans %}Keep me logged in{% endtrans %}</label>
		</div>

        <button type="submit" class="button">Inloggen</button>
    </form>
{% endblock %}
